# secrets
.env
**/.env

# logs
*.log

# dependencies
node_modules/
**/node_modules/

# python venv / caches
.venv/
**/.venv/
__pycache__/
**/__pycache__/
*.pyc

# build / coverage
dist/
build/
coverage/

# uploads (common for your project)
uploads/
**/uploads/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/


fech_req.py
logger_vm.py
scheduler_core.py
vm_message_client.py

*.zipcd E:\blockchain

# list tracked zip files
git ls-files "*.zip"

# untrack all tracked zip files (works for nested folders too)
git ls-files "*.zip" | % { git rm --cached -- "$_" }

git add .gitignore
git commit -m "Remove zip artifacts and ignore .zip"
git push

